
<div class="conteiner mx-4 py-5">
  <h3 class="mb-3">Islands showcase</h3>


<%= form_with url: islands_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a island"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

</div>

  <div class="row">
    <% @islands.each do | island | %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to island_path(island), class: "text-decoration-none" do %>
          <div class="card-trip" data-aos="zoom-in">
            <img src="http://cdn.cnn.com/cnnnext/dam/assets/180219103122-zanzibar-and-its-islands---mnemba-a-view-from-the-sky-mnemba-island-lodge.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><%= island.name %></h2>
                <p><%= island.location %></p>
              </div>
              <h2 class="card-trip-pricing">R$ <%= island.price %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
