
<div class="conteiner mx-4 py-5">
  <h3 class="mb-3">Island showcase</h3>

  <div class="row">
    <% @islands.each do | island | %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to island_path(island), class: "text-decoration-none" do %>
          <div class="card-trip w-100" data-aos="zoom-in">
            <% if island.photos.attached? %>
              <%= cl_image_tag island.photos.key.first %>
            <% else %>
              <%= image_tag "unsplash.jpg" %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= island.name %></h2>
                <p><%= island.location %></p>
              </div>
              <h2 class="card-trip-pricing">R$ <%= island.price %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


  <%# <div class="card-trip" data-aos="zoom-in">
  <% if island.photo.key.nil? %>
    <%#= cl_image_tag ("ecunplimlxpldp2rfcnv") %>
  <%# else %>
    <%#= cl_image_tag island.photo.key %>
  <%# end %>
