<div class="container mb-5 mt-4">
    <%# arrumar o carrossel %>
  <div class="banner w-100">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner position-relative w-100" style="height: 25rem"  >
        <% if @island.photos.attached? %>
          <% @island.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index.zero? ? "active" : "" %>">
              <%= cl_image_tag photo.key, width: '100%', height: 600, crop: :fill, class: "img-fluid" %>
            </div>
          <% end %>
        <% else %>
          <div class="carousel-item d-flex justify-content-center align-items-center active h-100">
            <%= image_tag "https://images.unsplash.com/photo-1553603227-2358aabe821e", width: "100%" %>
          </div>
        <% end %>
        <div class="island-infos position-absolute top-50 start-50 translate-middle">
          <h1><%= @island.name %></h1>
          <p>Location: <%=@island.location %></p>
        </div>
        <div class="user-actions p-3" style="z-index:3">
          <% if @island.user == current_user %>
            <a href="" type="button" class="btn-helper" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <span><i class="fa-solid fa-pencil"></i> Edit island</span>
            </a>
            <span class="text-white"> | </span>
            <%= link_to @island, class: "btn-delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this island listing?" } do %>
              <span><i class="fa-solid fa-trash"></i> Delete</span>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @island.photos.attached? %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      <% end %>
    </div>

  </div>


  <% if @island.user != current_user %>
    <% user = User.find(@island.user_id) %>
    <div class="information">
      <div class="row">
        <div class="island-infos col-sm-6 mt-5">
          <div class="host-info d-flex justify-content-between">
            <p><strong>Hosted by: </strong><%= @island.user.name %></p>
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, transformation: [{gravity: "face", height: 400, width: 400, crop: "thumb"}], class: "card-trip-user avatar-bordered" %>
            <% else %>
              <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-trip-user avatar-bordered" />
            <% end %>
          </div>
          <hr>
          <p><strong>Description</strong><br><%= @island.description %></p>
          <hr>
        </div>

        <div class="col-sm-6 mt-5">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><strong><%= number_to_currency(@island.price, unit: 'R$', separator: ',', delimiter: '.', format: "%u %n") %></strong> night</h5>
              <%= link_to "Rent", new_island_order_path(@island), class: "btn btn-primary mt-4 col-4" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="island-infos mt-5">
      <p><strong>Hosted by: </strong><%= @island.user.name %></p>
      <hr>
      <p><strong>Description</strong><br><%= @island.description %></p>
    </div>
  <% end %>

  <div class="map my-5">
    <h4>You will be here</h4>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <hr>
  <% if user_signed_in? && @island.user != current_user %>
    <div class="row">
      <div class="col-12 col-sm-6 mt-5">
        <div class="bg-white rounded p-3">
          <h5>Add your review</h5>
          <%= simple_form_for [@island, @review] do |f| %>
            <%= f.input :comment, placeholder: "Add your review here..." %>
            <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "Rate your experience!", input_html: { data: { controller: "star-rating" } } %>
            <%= f.submit class:"btn btn-flat" %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-5">
        <span class="mt-4 d-block"><small><em class="text-muted"><%= "This island does not have any reviews yet!" if @island.reviews.empty? %></em></small></span>
        <div class="overflow-auto w-100" style="height: 290px">
          <% @island.reviews.each do | review | %>
            <div>
              <% review.rating.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago - by: <%= review.user.name %></em></small>
              <p class="mb-0"><%= review.comment %></p>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-12 mt-5">
      <span class="mt-4 d-block"><small><em class="text-muted"><%= "This island does not have any reviews yet!" if @island.reviews.empty? %></em></small></span>
      <div class="overflow-auto w-100" style="height: 290px">
        <% @island.reviews.each do | review | %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago - by: <%= review.user.name %></em></small>
            <p class="mb-0"><%= review.comment %></p>
          </div>
          <hr>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<%= render "modal", island: @island %>
