<div class="conteiner mx-4 py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My islands</h3>
    <%= link_to "Anounce a island", new_island_path, class: "btn-ghost" %>
  </div>
  <span class="mb-2 d-block"><small><em class="text-muted"><%= "You don't own an island yet!" if @islands.empty? %></em></small></span>

  <div class="row">
    <% @islands.each do | island | %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to island_path(island), class: "text-decoration-none" do %>
          <div class="card-trip" data-aos="zoom-in">
            <%= cl_image_tag island.photo.key %>
            <div class="card-trip-infos">
              <div>
                <h2><%= island.name %></h2>
                <p><%= island.location %></p>
              </div>
              <h2 class="card-trip-pricing">R$ <%= island.price %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
