<div class="conteiner mx-4 py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My islands</h3>
    <%= link_to "Anounce a island", new_island_path, class: "btn-ghost" %>
  </div>
  <span class="mb-2 d-block"><small><em class="text-muted"><%= "You don't own an island yet!" if @islands.empty? %></em></small></span>

  <div class="row">
    <% @islands.each do | island | %>
      <% user = User.find(island.user_id) %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to island_path(island), class: "text-decoration-none" do %>
          <div class="card-trip w-100" data-aos="zoom-in">
            <% if island.photos.attached? %>
              <%= cl_image_tag island.photos.first.key %>
            <% else %>
              <%= image_tag "unsplash.jpg" %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= island.name %></h2>
                <p><%= island.location %></p>
              </div>
              <h2 class="card-trip-pricing">R$ <%= island.price %></h2>
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, transformation: [{gravity: "face", height: 400, width: 400, crop: "thumb"}], class: "card-trip-user avatar-bordered" %>
              <% else %>
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-trip-user avatar-bordered" />
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
